In [ ]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [ ]:
import pandas as pd
df = pd.DataFrame(people)

In [ ]:
filt = (df['last'] == 'Doe')

In [ ]:
filt

In [ ]:
df[filt]

## Preferred way to filter data
* Define a filter
* Use .loc to filter out data

In [ ]:
df.loc[filt]

In [ ]:
df.loc[filt, 'email']

In [ ]:
filt = (df['last'] == 'Doe') & (df['first'] == 'John')

In [ ]:
df.loc[filt, 'email']

In [ ]:
filt = (df['last'] == 'Schafer') | (df['first'] == 'John')

In [ ]:
df.loc[filt, 'email']

In [ ]:
df.loc[~filt, 'email']

In [1]:
import pandas as pd
df = pd.read_csv('../data/survey_results_public.csv')
schema_df = pd.read_csv('../data/survey_results_schema.csv')
# Set max display rows and columns
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)
pd.set_option('display.width', None)
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,...,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,...,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,...,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,...,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,...,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",...,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [2]:
high_salary = (df['ConvertedComp'] > 7000)

In [3]:
df.loc[high_salary, ['Country', 'LanguageWorkedWith']]

             Country                                 LanguageWorkedWith
2           Thailand                                           HTML/CSS
3      United States                                C;C++;C#;Python;SQL
5             Canada                                         Java;R;SQL
8        New Zealand  Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...
9              India                      C#;Go;JavaScript;Python;R;SQL
...              ...                                                ...
88325  United States               HTML/CSS;JavaScript;Scala;TypeScript
88326        Finland                   Bash/Shell/PowerShell;C++;Python
88328        Austria  Bash/Shell/PowerShell;Go;HTML/CSS;Java;JavaScr...
88329    Netherlands             C#;HTML/CSS;Java;JavaScript;PHP;Python
88330         Greece              Go;HTML/CSS;Java;JavaScript;Other(s):

[51905 rows x 2 columns]

In [4]:
countries = ['United States', 'India', 'Canada']
filt = df['Country'].isin(countries)

In [6]:
df.loc[filt, 'Country']

3        United States
5               Canada
7                India
9                India
11              Canada
             ...
88855           Canada
88859    United States
88864            India
88877    United States
88878           Canada
Name: Country, Length: 33405, dtype: object

In [8]:
filt = df['LanguageWorkedWith'].str.contains('Python', na=False)

In [10]:
df.loc[filt, 'LanguageWorkedWith']

0                          HTML/CSS;Java;JavaScript;Python
1                                      C++;HTML/CSS;Python
3                                      C;C++;C#;Python;SQL
4              C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
7        Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
                               ...
88854    Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
88860      Bash/Shell/PowerShell;C++;Python;Ruby;Other(s):
88865      Bash/Shell/PowerShell;HTML/CSS;Python;Other(s):
88872             C;C++;HTML/CSS;JavaScript;PHP;Python;SQL
88876                           HTML/CSS;JavaScript;Python
Name: LanguageWorkedWith, Length: 36443, dtype: object